.checklist-container h1 {
    font: var(--text-large);
    color: var(--black-900);
    text-align: center;
}

.checklist-container {
    background-color: darkseagreen;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0.1rem;
    width: fit-content;
}

.checklist-count {
    background-color: var(--base-royal);
    font: var(--text-medium);
    color: var(--white-300);
    margin-bottom: 10px;
    width: fit-content;
    border-radius: 10%;
    margin: 0.4rem;
    padding: 0.1rem 1.2rem;
}

ul.checklist {
    background-color: aquamarine;
    list-style: none;
    width: 16rem;
    height: fit-content;
    margin: 2rem auto;
    padding: 0;
}


.checklist-text {
    font: var(--text-regular);
    color: var(--black-500);
}


.checklist-icon {
    color: var(--black-500);
    padding-left: 0.1rem;
    padding-right: 1rem;
}