.checklist-container h1 {
    font: var(--text-large);
    color: var(--black-900);
    text-align: left;
    margin: 0.3rem;
}

.checklist-container {
    width: fit-content;
    padding: 30px 0;
}

.checklist-container ul {
    list-style: none;
    height: fit-content;
    margin: 0.5rem auto;
    padding: 0;
}

.checklist-container li {
    padding: 0.75rem;
    border-top: 1px solid var(--white-500);
    display: flex;
    align-items: center;
}   

.checklist-count {
    background-color: var(--base-royal);
    font: var(--text-medium);
    color: var(--white-300);
    width: fit-content;
    border-radius: 5px;
    margin: auto 0.2rem;
    padding: 0.1rem 1.2rem;
}

.checklist-text {
    font: var(--text-regular);
    color: var(--black-500);
}


.checklist-icon {
    color: var(--black-500);
    padding-left: 0.1rem;
    padding-right: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.completed {
    color: var(--green-500);
}

.icon_load {
    color: var(--black-500-); 
    animation: spin 2s ease-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: radial-gradient(farthest-side, var(--navy-500) 94%,#0000) top/2.4px 2.4px no-repeat,
          conic-gradient(#0000 30%,var(--navy-500));
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 2.4px),#000 0);
   mask: radial-gradient(farthest-side,#0000 calc(100% - 2.4px),#000 0);
   animation: spinner-checklist 1s infinite linear;
   flex-shrink: 0;
}

@keyframes spinner-checklist {
   100% {
      transform: rotate(1turn);
   }
}