section.introText{
    margin: 2.5rem 0 2rem;
}
    section.introText > p.text{
        color: var(--base-black);
        font: var(--text-regular);
        margin-bottom: 0;
    }

section.buttonsContainer{
    margin-top: 1.5rem;

    display: flex;
    gap: .7rem;
}



/* MODAL */
div.formModal div.modalBody{
    background-color: var(--base-white);
    padding: 2rem;
    border-radius: 10px;
}

    header.modalHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
        header.modalHeader .modalTitle{
            font: var(--title-large);
            color: var(--base-black);
        }
            header.modalHeader .modalTitle .icon{
                color: var(--base-royal);
                margin-right: .5rem;
            }

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
    form section{
        gap: .7rem;
    }

    form section.duoSection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    section.formButtons{
        margin-top: 2rem;
        display: flex;
        gap: .8rem;
    }