section.introText{
    margin: 2.5rem 0 2rem;
}
    section.introText > p.text{
        color: var(--base-black);
        font: var(--text-regular);
        margin-bottom: 0;
    }


table.table{

}
    table.table > thead *{
        background-color: var(--white-300);

        color: var(--black-500);
        font: var(--footer-medium);
        font-weight: 600;
        vertical-align: middle;
    }
    table.table > tbody *{
        background-color: var(--base-white);
        color: var(--black-300);
        font: var(--footer-regular);
    }
        table.table > tbody tr:nth-child(even) *{
            box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.015);
        }
        table.table > tbody tr:hover *{
            background-color: var(--white-300);
            box-shadow: none;

            cursor: pointer;
        }
    table.table > tbody td.ncm{
        white-space: nowrap;
    }
        table.table > tbody td.ncm .icon{
            margin-left: .15rem;
        }
        table.table > tbody td.ncm:hover,
        table.table > tbody td.ncm:hover *{
            color: var(--base-royal);
        }

section.buttonsContainer{
    margin-top: 1rem;

    display: flex;
    gap: 1.5rem;
}



/* MODAL */
div.formModal div.modalBody{
    background-color: var(--base-white);
    padding: 2rem;
    border-radius: 10px;
}

    header.modalHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
        header.modalHeader .modalTitle{
            font: var(--title-large);
            color: var(--base-black);
        }
            header.modalHeader .modalTitle .icon{
                color: var(--base-royal);
                margin-right: .5rem;
            }

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
    form section{
        gap: .7rem;
    }

    form section.duoSection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    section.formButtons{
        margin-top: 1.2rem;
        display: flex;
        gap: .8rem;
    }