html{
    height: 100%;
}

body{
    min-height: 100vh;
    height: 100%;
}

div#root{
    background-color: var(--base-white);
    min-height: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
}

