.title{
    font: var(--title-large);
    color: var(--black-700);
}

.returnBtn{
    background-color: transparent;
    
    color: var(--black-700);
    font: var(--text-regular);
    text-decoration: underline;
    
    border: none;
    outline: none;

    &:hover{
        scale: 1.03;
    }

    &:active{
        color: var(--base-royal);
    }
}

p.introText{
    font: var(--text-regular);
    margin-bottom: 2rem;
}

section.ordersContainer{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}


table.table thead tr th{
    background-color: var(--base-royal);
    color: white;
    border: transparent;
}
    table.table thead tr.orderRow + tr th{
        padding-top: 0rem;
        padding-bottom: .2rem;
    }
    table.table thead tr.orderRow > th{
        font: var(--footer-large);
    }

/* MODAL DE CONFIRMAÇÃO DE EDIÇÃO */
div.confirmModal header.header,
div.confirmModal header.header div.headerText{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.confirmModal header.header div.headerText{
    margin-bottom: .5rem;

    color: var(--base-green);

    & i.icon{
        margin-right: .5rem;

        color: currentColor;
        font-size: 1.5rem;
    }

    & .title{
        margin: 0;

        color: currentColor;
        font: var(--title-medium);
        vertical-align: middle;
    }
}

div.confirmModal {
    & p{
        margin: 0;
    }

    & p.mainText{
        margin-bottom: .3rem;

        color: var(--base-black);
        font: var(--text-medium);
    }
    & p.text{
        color: var(--black-700);
        font: var(--text-regular);
    }

    & section.btn{
        margin-top: 1.5rem;
        
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}

/* Estilização para vários inputs (usado na página SupplierView)*/
section.multiInputSection{

    & .title{
        font: var(--title-regular);
    }
}
    section.multiInputSection
    section.productsContainer{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        border-radius: 5px;
    }
        section.productsContainer
        div.product{
            background-color: var(--white-300);
            padding: 1rem 1.5rem;
            & hr{
                color: var(--white-700);
            }

            &:last-child hr{
                display: none;
            }
        }
            div.product
            div.disabledInputs div{
                padding-bottom: .5rem;
                margin-bottom: .5rem;
                border-bottom: 1px solid var(--white-500);
                & .label{
                    font: var(--footer-large);
                    margin: 0;
                }

                & p {
                    font: var(--footer-medium);
                    margin: 0;
                }
            }

.orderTable *{
    cursor: default !important;
}

/* MODAL DE CONFIRMAÇÃO DE EDIÇÃO */
div.confirmModal header.header,
div.confirmModal header.header div.headerText{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.confirmModal header.header div.headerText{
    margin-bottom: .5rem;

    color: var(--base-green);

    & i.icon{
        margin-right: .5rem;

        color: currentColor;
        font-size: 1.5rem;
    }

    & .title{
        margin: 0;

        color: currentColor;
        font: var(--title-medium);
        vertical-align: middle;
    }
}

div.confirmModal {
    & p{
        margin: 0;
    }

    & p.mainText{
        margin-bottom: .3rem;

        color: var(--base-black);
        font: var(--text-medium);
    }
    & p.text{
        color: var(--black-700);
        font: var(--text-regular);
    }

    & section.btn{
        margin-top: 1.5rem;
        
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}

/* Estilização para vários inputs (usado na página SupplierView)*/
section.multiInputSection{

    & .title{
        font: var(--title-regular);
    }
}
    section.multiInputSection
    section.productsContainer{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        border-radius: 5px;
    }
        section.productsContainer
        div.product{
            background-color: var(--white-300);
            padding: 1rem 1.5rem;
            & hr{
                color: var(--white-700);
            }

            &:last-child hr{
                display: none;
            }
        }
            div.product
            div.disabledInputs div{
                padding-bottom: .5rem;
                margin-bottom: .5rem;
                border-bottom: 1px solid var(--white-500);
                & .label{
                    font: var(--footer-large);
                    margin: 0;
                }

                & p {
                    font: var(--footer-medium);
                    margin: 0;
                }
            }
