
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-300);
    border-radius: 8px;
    padding: 30px;
    margin: auto;
    width: 19rem;
    height: 27rem;
}

.card-icon {
    border-radius: 10px;
    height: 15rem;
    width: 15rem;
    margin-bottom: 1rem;
    background-color: var(--base-white);
}

.card-content {
    text-align: left;
}

.card-content h1 {
    font: var(--title-medium);
    color: var(--black-700);
}

.card-content p {
    font: var(--text-medium);
    color: var(--black-700);
}