div.container{
    display: flex;
    flex-direction: column;
}

.label{
    font-weight: 500;
    color: var(--black-700);
}

.input{
    background-color: var(--white-500);
    padding: .4rem .7rem;

    color: var(--black-700);
    font: var(--label-regular);
    text-align: start;

    border: 1px solid var(--white-700);
    border-radius: 5px;

    transition: scale 150ms ease-out;
}
textarea.input{
    min-height: 100px;
    max-height: 300px;
    font: var(--label-regular);
}
    .input:focus{
        border-color: var(--white-700);
        outline: 1px solid var(--royal-300);

        scale: 1.005;
    }

/*
Source - https://stackoverflow.com/a
Posted by antonj, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-11, License - CC BY-SA 4.0
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}