@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;700&display=swap');

:root {
    --WHITE_BASE_WHITE: #FFFFFF;
    --WHITE_WHITE_700: #D3D8DF;
    --WHITE_WHITE_500: #E2E5E9;
    --WHITE_WHITE_300: #EBEDF0;
    --BLACK_BASE_BLACK: #000000;
    --BLACK_BLACK_700: #5F5F5F;
    --BLACK_BLACK_500: #797979;
    --BLACK_BLACK_300: #999999;
    --NAVY_BASE_NAVY: #05215A;
    --NAVY_NAVY_700: #112B72;
    --NAVY_NAVY_500: #243C80;
    --NAVY_NAVY_300: #2C2E65;
    --ROYAL_BASE_ROYAL: #236FBD;
    --ROYAL_ROYAL_700: #1E7ADC;
    --ROYAL_ROYAL_500: #1E64B8;
    --ROYAL_ROYAL_300: #60ADEC;
    --YELLOW_BASE_YELLOW: #F1C40F;
    --YELLOW_YELLOW_700: #F39C12;
    --YELLOW_YELLOW_500: #F7DC6F;
    --YELLOW_YELLOW_300: #F9E79F;
    --RED_BASE_RED: #E74C3C;
    --RED_RED_700: #C0392B;
    --RED_RED_300: #FADBD8;
    --RED_RED_500: #F08080;
    --GREEN_BASE_GREEN: #669900;
    --GREEN_GREEN_700: #9FD323;
    --GREEN_GREEN_500: #B3E34B;
    --GREEN_GREEN_300: #C6F272;
    --PURPLE_BASE_PURPLE: #731CA5;
    --PURPLE_PURPLE_700: #7D3C98;
    --PURPLE_PURPLE_500: #9C5BB7;
    --PURPLE_PURPLE_300: #B88FD3;

  font-family: 'Crimson Pro', serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--BLACK_BASE_BLACK);
  background-color: var(--WHITE_WHITE_500);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Tipografia */
.title-large {
  font-family: 'Crimson Pro', serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
}

.title-medium {
  font-family: 'Crimson Pro', serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 40px;
}

.title-regular {
  font-family: 'Crimson Pro', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}

a {
  font-weight: 500;
  color: var(--ROYAL_BASE_ROYAL);
  text-decoration: inherit;
}
a:hover {
  color: var(--ROYAL_ROYAL_700);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Crimson Pro', serif;
  background-color: var(--ROYAL_BASE_ROYAL);
  color: var(--WHITE_BASE_WHITE);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--ROYAL_ROYAL_700);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--ROYAL_ROYAL_300);
}

button:disabled {
  background-color: var(--BLACK_BLACK_300);
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--BLACK_BASE_BLACK);
    background-color: var(--WHITE_WHITE_500);
  }
  a:hover {
    color: var(--ROYAL_ROYAL_700);
  }
}
